body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchbox{
  width: 507px;
  height: 40px;
  border-radius: 24px;
}

.list-search{
  width: 507px;
  height: 40px;
}

#carouselExampleInterval{
    width: 456px;
    height: 180px;  
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
}

.carousel-inners img{
    width: 456px;
    height: 180px;
}

.category{
    margin-top: 50px;
}

.card-category{
    display: flex;
    flex-direction: row;
    margin-top: 46px;
    margin-left: 150px;
    width: 206px;
    height: 220px;
}
.shorts{
  margin-left: 28px;
}
.jacket{
  margin-left: 28px;
}
.pants{
  margin-left: 28px;
}
.shoes{
  margin-left: 28px;
}
.new{
    margin-top: 50px;
}
.card-new{
    margin-left: 10px;
}

  div.stars {
    width: 270px;
    display: inline-block;
  }
  
  
  input.star { display: none; }
  
  label.star {
    margin-right: 10px;
    float: right;
    /* background-color: #F62; */
    padding: 5px;
    font-size: 36px;
    color: #4A148C;
    transition: all .2s;
  }
  
   
  
  input.star:checked ~ label.star:before {  
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  
  }
  
   
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;  
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

        
    .height-100{
        height:100vh;
    }
    
    .card{
        width:380px;
        border:none;
        height:280px;
    }

    .new{
      margin-left: 150px;
    }
    
    .ratings{
        margin-right:10px;
    }
    
    .ratings i{
        
        color:#cecece;
        font-size:32px;
    }
    
    .rating-color{
        color:#fbc634 !important;
    }
    
    .review-count{
        font-weight:400;
        margin-bottom:2px;
        font-size:24px !important;
    }
    
    .small-ratings i{
      color:#cecece;   
    }
    
    .review-stat{
        font-weight:300;
        font-size:18px;
        margin-bottom:2px;
    }
    .btn-login-index{
      margin: 0 120px 0 0;
    }
    .blanja-icon{
      margin: 0 0 0 120px;
    }
    .footer {
      background-color: #DB3022;
      color: #ffffff;
      text-align: center;
      font-size: 12px;
      padding: 15px;
      margin-top: 60px;
    }



    @media screen and (max-width: 576px){
      #category{
        margin-top: 50px;
      }
      .btn-login-index{
        margin: 0px;
      }
      .blanja-icon{
        margin: 0px;
      }      
      #searchbox{
        width: 307px;
        height: 40px;
        border-radius: 24px;
      }
      #homeFilter{
        margin-left: 10px;
      }
      #carouselExampleInterval{
        width: 356px;
        height: 150px;  
      }
      .carousel-inner img{
        width: 356px;
        height: 150px;
      }
      /* .category{
        background-color: #4A148C;
        width: 100vw;
        height: 900px;
      } */
      /* .card-category{
        flex-direction: column; 
        height: 800px;
      } */
      .shirt{
        width: 150px; height: 140px;         
      }
      .shorts{
        width: 150px; height: 140px; margin-left: 0; margin-top: 20px;
      }
      .jacket{
        width: 150px; height: 140px;margin-left: 0; margin-top: 20px;
      }
      .pants{
        width: 150px; height: 140px;margin-left: 0; margin-top: 20px;
      }
      .shoes{
        width: 150px; height: 140px;margin-left: 0; margin-top: 20px;
      }

      .new{
        margin: 0px;
      }
    }

    #app {
      height: 100%;
    }
    html,
    body {
      position: relative;
      height: 100%;
    }
    
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
    
    .swiper {
      width: 100%;
      height: 100%;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    